h1{
    text-align: center;
    color: blue;
}
.button1{
    width: 300px;
    height: 80px;
}
.button2{
    width: 300px;
    height: 80px;
}
.set{
    margin: 10%;
    margin-left: 40%;
    
}
.set1{
    margin: 11%;
    margin-left: 40%;
    

}